*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}

html{
  scroll-behavior: smooth;
}

main{
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.bodyHomepage{
  min-height:100vh;
  background-color:#CDCFC0 ;

}

nav{
  background-color: #C6B6A6FF
  
}

.logo{
  width:3.1rem;
  position:absolute;
  margin-left:2%
}

nav ul{
  width:100%;
  list-style:none;
  display:flex;
  justify-content:flex-end;
  align-items:center;

}

nav li{
  height:50px;
 
}

nav a{
  height:100%;
  padding: 0 30px;
  text-decoration:none;
  display: flex;
  align-items: center;
  color: black;
}

a:link {
  color: black;
  font-family: aboreto;
  text-decoration: none;
}



a:visited {
  color: rgb(16, 17, 16);
}

a.current{
  color:#636AE8;
}

a:hover{
  transition: 1s ease;
  color:#636AE8;
  
}

.sidebar{
  position:fixed;
  top:0;
  right:0;
  height:100vh;
  width:12rem;
  z-index:999;
  background-color:rgba(198, 182, 166,.9);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  backdrop-filter:blur(10px);
  display:none; 
  
}
.sidebar li{
  width:100%;
  
}

.sidebar a{
  width:100%;
  
}
.menu-button{
  display: none;
}

#top{
  font-size:3.125rem;
  position: fixed;
  top:90%;
  left:50%;
  cursor: pointer;
  color:  #81A984FF;
  
  
}

#top:hover{
  color: rgb(57, 88, 59);
}

main{
display: flex;
flex-direction: column;
align-items: center;
margin: auto auto auto auto;
}
.imgAndDes{
display: flex;
max-width: 100%;
align-items: center;
flex-direction: row;
margin: 3rem auto auto auto;
}

.imgAndDes .imgCon{
  margin: auto auto auto auto;
  width: 25rem;
  height: 30rem;
}

.imgAndDes .imgCon .homepagePic{

  width: 25rem;
  height: 30rem;
  padding-right: 1rem;
}

.imgAndDes .description{

  margin: 1rem 5rem auto 4rem;
  width: 35rem;
  padding-right: 1rem;
  }
  

.description h3 {

  font-family: Aboreto;
  font-size: 2rem; 
  line-height: 3rem; 
  font-weight: 300; 
  color: #171A1FFF;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.description h1 {

  font-family: Aboreto; 
    font-size: 3rem; 
    line-height: 3rem; 
    font-weight: 500; 
    color: #171A1FFF; 
    margin-bottom: 0.5rem;
}
.description h5 {

  font-family: Aboreto; 
    margin-top: 0rem;
    font-size: 0.875rem;
    font-weight: 300; 
    color: #171A1FFF;
    
}

.description p{
  flex-wrap: wrap;
  margin-top: 3rem;
  font-family: Quattrocento;
  font-size: 1.3rem; 
  line-height: 2rem; 
  font-weight: 400; 
  color: #171A1FFF; 
  text-align: justify;
}

.description .button {
  margin: 7rem auto 1rem 2rem;
  width: 11.25rem; 
  height: 3.125rem; 
  padding: auto 0.75rem auto auto; 
  align-items: center; 
  justify-content: center; 
  font-family: Aboreto; 
  font-size: 1.25rem; 
  line-height: 1.875rem; 
  font-weight: 400; 
  color: #323931FF; 
  background: #F7F8F7FF; 
  opacity: 1; 
  border: none; 
  border-radius: 0.75rem; 
}
main .button:hover {
  color: #323931FF; 
  background: #DDE2DDFF; 
}
main .button:hover:active {
  color: #323931FF; 
  background: #C3CBC2FF; 
}

.description .button:disabled {
  opacity: 0.4; 
}


@media (min-width:360px) and (max-width: 630px){
  .hide{
    display:none;
   }
   .menu-button{
    display:block;
  }
  .imgAndDes{
    max-width: 100%;
    flex-direction: column;
    }

    .imgAndDes .imgCon{
      max-height: 100%;
      margin: auto auto auto auto;
      width: 20rem;
      height: 25rem;
    }
    
    .imgAndDes .imgCon .homepagePic{
    
      width: 20rem;
      height: 25rem;
      padding-right: 1rem;
    }
    
    .imgAndDes  .description{
    
      margin: 1rem;
      width: 20rem;
      padding-right: 0rem;
      align-items: center;
      }
      .description h3 { 
        text-align: center;
        line-height: 1.5rem;
        font-family: Aboreto;
        font-size: 2rem;
      }
      .imgAndDes  .description h1{
        text-align: center;
        line-height: 3.5rem;
        font-family: Aboreto;
      }
      .imgAndDes  .description h5{
        text-align: center;
        width: 20rem;
        font-family: Aboreto;
        line-height: 1.5rem;
      }
      .description p{
        margin-top: 2rem;
        font-family: Quattrocento;
        text-align: center;
        justify-content: center;
        width: 20rem;
        padding: 0rem 1rem 0rem 1rem ;
      }
      .description .button {
        font-family: Aboreto; 
      }
      .imgAndDes .description .button {
          margin: 3rem auto 2rem 4.2rem;
      }
}



.bodyArticle{
  min-height:100vh;
  background-color: white;


}
nav{
  background-color: #C6B6A6FF
  
}

img{
  width:3.1rem;
  position:absolute;
  margin-left:2%
}

nav ul{
  width:100%;
  list-style:none;
  display:flex;
  justify-content:flex-end;
  align-items:center;

}

nav li{
  height:50px;
 
}

nav a{
  height:100%;
  padding: 0 30px;
  text-decoration:none;
  display: flex;
  align-items: center;
  color: black;
}
a:link {
  color: black;
  font-family: aboreto;
  text-decoration: none;
}



a:visited {
  color: rgb(16, 17, 16);
}

a.current{
  color:#636AE8;
}

a:hover{
  transition: 1s ease;
  color:#636AE8;
  
}

.sidebar{
  position:fixed;
  top:0;
  right:0;
  height:100vh;
  width:12rem;
  z-index:999;
  background-color:rgba(198, 182, 166,.9);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  backdrop-filter:blur(10px);
  display:none; 
  
}
.sidebar li{
  width:100%;
  
}

.sidebar a{
  width:100%;
  
}
.menu-button{
  display: none;
}

main{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 4rem;

}

.imgAndText1{
  display: flex;
  width: 100%;
  height: 18rem;
  background-image: url('ARTICLES-\ PIC\ 1.jpg'); 
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
}
.imgAndText1 #text1{
  margin: 12rem auto auto 8rem;
  width: 25rem;
  height: 5rem;
  font-family: Quattrocento;
  font-size: 0.8rem; 
  line-height: 1.375rem; 
  font-weight: 550; 
  color: #FFFFFFFF;
  text-align: justify;
}

.rectangle1 {
display: flex;
width: 100%;
height: 12rem;
background: #B3CBB5FF; 
align-items: center;
justify-content: center;
}
.rectangle1 #text2{
width: 50rem; 
font-family: Quattrocento; 
font-size: 1.75rem; 
line-height: 3rem; 
font-weight: 400; 
color: #171A1FFF; 
text-align: center;

}

.img2andText3{
display: flex;
width: 100%;
align-items: center;
flex-direction: row;
gap: 2rem;
justify-content: center;
padding-left: 1rem;
}

.img2andText3 .imgCon{
display: flex;
width: 22rem; 
height: 25rem; 
}
.img2andText3 .imgCon #imgArticle2{
width: 22rem; 
height: 25rem; 
margin: 0rem;
}
.img2andText3 .text3{
display: flex;
width: 48rem;
height: 25rem; 
flex-direction: column;
align-items: center;
}
.img2andText3 .text3 #textHeading1{
font-family: Aboreto; 
font-size: 2.5rem; 
line-height: 4.875rem ; 
color: #171A1FFF;
margin: 3rem auto 0rem auto;

}
.img2andText3 .text3 #P1 {
max-width: 50rem ;
font-family: Quattrocento;
font-size: 1.3rem; 
line-height: 1.875rem; 
font-weight: 400; 
color: #171A1FFF; /* neutral-900 */
text-align: justify;
padding: 0rem 1rem 0rem 2rem;
}
.rectangle2 {
display: flex;
 width: 100%;
 height: 12rem;
 background: #C6B6A6FF;
 align-items: center;
 flex-direction: column;
}
.rectangle2 #text4{
  font-family: Quattrocento;
  font-size: 2rem; 
  line-height: 2rem; 
  font-weight: 200; 
  color: #171A1FFF; 
  padding: 0rem;
}
.rectangle2 #subText4First3 {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
  padding: 0rem 1rem 0rem 1rem;

}
.rectangle2 #subText4First3 li {
list-style: none;
font-family: Quattrocento;
font-size: 1.5rem; 
line-height: 2.25rem; 
font-weight: 400; 
color: #171A1FFF;

}
.rectangle2 #subText4Last1 {

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto auto auto;

}
.rectangle2 #subText4Last1 li {
  list-style: none;
  font-family: Quattrocento; /* Heading */
  font-size: 1.5rem; 
  line-height: 2.25rem; 
  font-weight: 400; 
  color: #171A1FFF;
}
.imgGroup{

  width: 100%;
  height: 15rem;

}
.imgGroup #imgArticle3Group{
  width: 100%;
  height: 13rem;
  margin: 0rem;
  padding: 0rem 1rem 0rem 1rem;
}
.text4{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text4 #textHeading2{
  
  font-family: Aboreto;
  font-size: 55px; 
  line-height: 84px; 
  font-weight: 700; 
  color: #171A1FFF;
}
.text4 #P2{
  max-width: 52rem;
  font-family: Quattrocento; 
  font-size: 24px; 
  line-height: 36px; 
  font-weight: 400; 
  color: #171A1FFF; 
  text-align: justify;
  margin: 4rem auto auto auto;
  padding: 0rem 1rem 0rem 1rem;
}
.groupOfSmallRectangles{
  display: flex;
  flex-direction: column;
  max-width: 50rem; 
  height: 31rem; 
  padding: 0rem 1rem 0rem 1rem;
  gap: 1rem;
}
 #smallRectagle {

  max-width: 50rem; 
  height: 5.5rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: #C6B6A6FF;
  border-radius: 2.75rem; 
  
}
#smallRectangleText {
  text-align: center;
}
.rectangle3{
display: flex;
width: 100%;
align-items: center;
flex-direction: row;
justify-content: center;
background-color: #CDCFC0FF;
padding: 1rem 4rem 1rem 2rem;
}
.rectangle3 .text5{
  display: flex;
  width: 48rem;
  height: 28rem; 
  flex-direction: column;
  align-items: center;


}
.rectangle3 .text5 #textHeading2{
  max-width: 30rem;
  font-family: Aboreto; 
  font-size: 2.5rem; 
  line-height: 3.5rem ; 
  color: #171A1FFF;
  margin: 3rem auto 0rem auto;
  text-align: center;

}
.rectangle3 .text5 #P3 {
  max-width: 48rem ;
  font-family: Quattrocento; /* Heading */
  font-size: 1.3rem; 
  line-height: 1.875rem; 
  font-weight: 400; 
  color: #171A1FFF; /* neutral-900 */
  text-align: justify;
  padding: 0rem;
  margin: 1.5rem auto auto 2rem;
}

.rectangle3 .imgCon{
  display:  flex;
  width: 25rem; 
  height: 28rem; 
  padding: 1rem;
  margin: 1rem;

}
.rectangle3 .imgCon #imgArticle4{
  width: 22rem;
  height: 26rem; 
  margin: 0rem ;
}
.medidateGroup{
  display: flex;
  flex-direction: column;
}

.medidateGroup .meditateHeading{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.medidateGroup .meditateHeading #textHeading3{
  font-family: Quattrocento; 
  font-size: 2rem; 
  line-height: 3rem; 
  font-weight: 700; 
  color: #171A1FFF; 

}
.meditateHeading #P4{
  max-width: 50rem;
  font-family: Quattrocento; 
  font-size: 1.5rem; 
  line-height: 2.25rem; 
  font-weight: 400; 
  color: #171A1FFF; 
  text-align: center;
  margin: 1rem auto auto auto;
}

.meditateImagesAndTitle{
  width: 100%;
display: flex;
flex-direction: row;
justify-content: space-around;
  }
.meditateImagesAndTitle #medidateImg{
  min-width: 14.2rem; 
  height: 14.2rem; 
  border-radius: 7rem; 
  margin: 0rem;
  
}

.meditateImagesAndTitle .img {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  gap: 2rem ;
  margin: 1rem 3.5rem 1rem 3.5rem; 

}
.meditateImagesAndTitle #imgTitl{
  display: flex;
  width: 14rem; 
  align-items: center;
  justify-content:center;

}
.meditateImagesAndTitle  #imgDes{
  display: flex; 
  align-items: center;
  justify-content:center;
  max-width: 17rem;
}
.meditateImagesAndTitle .img #imgCon{
  display: flex;
  width: 14.25rem; 
  height: 14.5rem; 
  align-items: center;
  justify-content:center;
}
.meditateImagesAndTitle  #imgTitle #medidateImg1Title{
  font-family: Quattrocento;
  font-size: 1.125rem; 
  line-height: 1.75rem; 
  font-weight: 700; 
  color: #171A1FFF;
}
.meditateImagesAndTitle  #imgDes #medidateImg1Descipt{
  font-family: Quattrocento; 
  text-align: center;
  max-width: 13rem;

}

@media (min-width:360px) and (max-width: 630px){
  .hide{
    display:none;
   }
   .menu-button{
    display: flex;
  }

  main{

    gap: 2rem;
    
    }
.imgAndText1{
max-width: 20.5rem;
height: 18rem;
border-radius: 1rem;
margin: 1rem;
background-image: url('ARTICLES- PIC 1-Mobile.jpg'); 
}
.imgAndText1 #text1{
  font-family: Quattrocento;
  margin: 10rem auto auto 1rem;
  font-size: 0.8rem; 
  line-height: 1rem; 
  width: 15rem;
  height: 5rem;
  font-weight: 500;
}
.rectangle1 {
 width: 100%;
 height: 8rem;
}
.rectangle1 #text2{
  font-family: Quattrocento;
  width: 20rem; 
  font-size: 1rem; 
  line-height: 2rem; 
}

.img2andText3{
  flex-direction: column;
  gap: 0rem;
  padding: 0rem;
  margin: 1rem auto auto auto;
}

.img2andText3 .imgCon{
  display: flex;
  width: 22rem; 
  height: 22rem; 
  justify-content: center;
}
.img2andText3 .imgCon #imgArticle2{
  width: 20rem; 
  height: 20rem; 
  margin: 0rem;
  border-radius: 1rem;
}
.img2andText3 .text3{

  width: 22rem;
  height:  20rem; 
}
.img2andText3 .text3 #textHeading1{
  font-family: Aboreto; 
  font-size: 1.5rem; 
  line-height: 3.5rem ; 
  color: #171A1FFF;
  margin: 0rem auto 0rem auto;

}
.img2andText3 .text3 #P1 {
  font-family: Quattrocento;
  max-width: 21rem ;
  font-size: 1rem; 
  line-height: 1.5rem; 
  font-weight: 400; 
  padding: 0rem 1rem 1rem 1rem;
}
.rectangle2 {
   width: 100%;
   height: 8rem;
   margin: 1rem auto auto auto;

  }
  .rectangle2 #text4{
    font-family: Quattrocento;
    width: 23rem;
    font-size: 1rem; 
    font-weight: 600; 
    padding: 0rem;
    text-align: center;
  }
  .rectangle2 #subText4First3 {
    width: 22rem;
    gap: 0.1rem;
    padding: 0.5rem 0rem 0rem 0rem;
    margin: 0rem;
  }
  .rectangle2 #subText4First3 li {
    font-family: Quattrocento;
  width: 25rem;
  font-size: 0.8rem; 
  line-height: 1rem; 
  font-weight: 100; 
  
  }
  .rectangle2 #subText4Last1 {
    margin: 0rem auto 0rem auto;
  
  }
  .rectangle2 #subText4Last1 li {
    font-size: 0.8rem;  

  }
  .imgGroup{

    width: 100%;
    height: 8rem;

  }
  .imgGroup #imgArticle3Group{
    width: 100%;
    height: 8rem;
    padding: 0.5rem;
  }

  .text4{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text4 #textHeading2{
    
    font-size: 2rem; 
    line-height: 3rem; 
    font-weight: 700; 

  }
  .text4 #P2{
    max-width: 20rem;
    font-size: 1rem; 
    line-height: 1.75rem; 
    font-weight: 300; 
    color: #171A1FFF; 
    text-align: justify;
    margin: 1rem auto auto auto;
    padding: 0rem;
  }
  .groupOfSmallRectangles{
    display: flex;
    flex-direction: column;
    max-width: 21rem; 
    height: 31rem; 
    padding: 0rem 1rem 0rem 1rem;
    gap: 1rem;
  }
   #smallRectagle {
    max-width: 21rem; 
    border-radius: 2rem; 
    
  }
  #smallRectangleText {
    text-align: center;
    max-width: 20rem;
    font-size: 0.7rem;
    font-weight: 400;
  }
  .rectangle3{
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 3rem;
  }
  .rectangle3 .text5{
    max-width: 20rem;
    height: 25rem; 
    margin
  }
  .rectangle3 .text5 #textHeading2{
    font-family: Aboreto; 
    max-width: 20rem;
    font-size: 2rem; 
    line-height: 3.5rem ; 
    margin: 1rem auto 0rem auto;
    text-align: center;
  
  }
  .rectangle3 .text5 #P3 {
    max-width: 20rem ;
    font-family: Quattrocento; 
    font-size: 0.8rem; 
    line-height: 1.875rem; 
    font-weight: 400; 
    color: #171A1FFF; 
    text-align: justify;
    padding: 0rem;
    margin: 1.5rem auto auto 0rem;
  }
  .rectangle3 .imgCon{
    width: 21rem; 
    height: 22rem; 
    padding: 1rem 0rem 0rem 0rem;
    margin: 0rem;

  }
  .rectangle3 .imgCon #imgArticle4{
    width: 21rem;
    height: 20rem; 
    margin: 0rem ;
    border-radius: 1rem;
  }
  .medidateGroup{
    display: flex;
    flex-direction: column;
  }
  .medidateGroup .meditateHeading{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .medidateGroup .meditateHeading #textHeading3{
    font-family: Quattrocento; 
    font-size: 2rem; 
    line-height: 2rem; 
    font-weight: 700; 

  }
.meditateHeading #P4{
    max-width: 20rem;
    font-family: Quattrocento; 
    font-size: 1rem; 
    line-height: 2rem; 
    font-weight: 400; 
    text-align: center;
    margin: 1rem auto auto auto;
  }
  .meditateImagesAndTitle{
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  height: 80rem;
  margin: 0rem 0rem 3rem 0rem;
    }
  .meditateImagesAndTitle #medidateImg{
    min-width: 14.2rem; 
    height: 14.2rem; 
    border-radius: 7rem; 
    margin: 0rem;
    
  }  
  .meditateImagesAndTitle .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25rem;
    margin: 0rem; 

  }
  .meditateImagesAndTitle #imgTitl{
    display: flex;
    width: 14rem; 
    align-items: center;
    justify-content:center;

  }
  .meditateImagesAndTitle  #imgDes{
    display: flex; 
    align-items: center;
    justify-content:center;
    max-width: 17rem;
  }
  .meditateImagesAndTitle .img #imgCon{
    display: flex;
    width: 14.25rem; 
    height: 14.5rem; 
    align-items: center;
    justify-content:center;
  }
  .meditateImagesAndTitle  #imgTitle #medidateImg1Title{
    font-family: Quattrocento;
    font-size: 1.125rem; 
    line-height: 1.75rem; 
    font-weight: 700; 
    color: #171A1FFF;
  }
  .meditateImagesAndTitle  #imgDes #medidateImg1Descipt{
    font-family: Quattrocento; 
    text-align: center;
    max-width: 13rem;

  }

  #top{
    font-size: 3rem;
    left:44%;
    top:92%;
  }
}